EXPO_PUBLIC_SUPABASE_URL=https://umndbdklmqtnzziduomk.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_XZm_X3WZVM4Zy2WT9ZdVQA_Q6vT9VTP

# .\node_modules\.bin\expo.cmd start ---> npx expo start yerine 
# python -m uvicorn main:app --reload --host 0.0.0.0 --port 8000